body {
    margin: auto;
    width: 1024px;
    background-image: url("../img/carmine-de-fazio-31543-unsplash.jpg");
    /*background-repeat: repeat;*/
    background-color: black;
    background-attachment: fixed;
    color: white;
    font-family: Inconsolata;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: white;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-image: url("../img/carmine-de-fazio-31543-unsplash.jpg");
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

.indexHeader {
    color: white;
    font-family: Inconsolata;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

section p {
    color: white;
    font-family: Inconsolata;
    text-transform: capitalize;
    text-align: center;
    font-size: 15px;
    font-style: oblique;
}

aside {
    float: right;
    position: sticky;
    border: 1px solid rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);;
    width: available;
    -webkit-box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
}

.gif {
    position: relative;
}

.img {
    opacity: 50;
    filter: alpha(opacity=50);
}

.text {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.imgText {
    top: 50px;
    left: 0;
    width: 100%;
    font-size: 20px;
}

footer {
    clear: right;
    clear: left;
    text-align: center;
}


.header_main{
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.tableHeader {
    border: 1px solid rgba(6,195,1,0.48);
    padding: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
}

.table {
    float: left;
    border-collapse: collapse;
    border: 1px solid rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);;
    width: available;
    -webkit-box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
}

.tabletd, .tableth {
    border: 1px solid rgba(6,195,1,0.48);
    text-align: left;
    padding: 8px;
}


.tableInner {
    text-transform: capitalize;
    border-collapse: collapse;
    border-style: none;
    border: transparent;
    padding: unset;
    width: 100%;
}

.button {
    border-radius: 4px;
    background-color: rgba(6,195,1,0.48);
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

p {
    color: white;
    font-size: larger;
    text-align: center;
}

form input, form select {
    background-color: white;
    border: 1px solid;
}

form input[type=reset]:hover, form input[type=submit]:hover {
    background-color: rgba(6,195,1,0.48);
}

form {
    margin-left: 25%;
}
.fieldset {
    margin: 50%;
    border: 2px solid;
    margin: 10px;
    border: 1px solid rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);;
    width: available;
    -webkit-box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
    box-shadow: 0px 0px 49px 10px rgba(6,195,1,0.48);
}

.cookiesDialog {
    position: fixed;
    font-size: 15px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background-color: black;
    color: white;
    padding: 0px;

}

.buttonCookie {
    border-radius: 4px;
    background-color: rgba(6,195,1,0.48);
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin-top: 15px;
    margin-right: 30px;
}

.formSentParagraph {
    text-align: left;
}